<header>
  <h1 id="api-name">File Metadata API</h1>
  <p>Created by <a href="https://autumnchris.github.io/portfolio" target="_blank">Autumn Bullard</a> &copy; <%= new Date().getFullYear() %></p>
  <div class="api-description">
    <p>An API that takes a submitted file and returns its file name, file type, and file size.</p>
    <p>View the <a href="https://github.com/autumnchris/file-metadata-api" target="_blank" id="src-link" aria-labelledby="api-name src-link">source code</a> for this project.</p>
  </div>
  <hr />
</header>