<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>
  <body>
    <header>
      <h1>File Metadata API</h1>
      <h2>Coded by <a href="https://autumnbullard-portfolio.herokuapp.com" target="_blank">Autumn Bullard</a></h2>
      <p>My project for the <a href="https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/file-metadata-microservice" target="_blank">File Metadata Microservice challenge</a> as part of the curriculum for the Apis and Microservices Certification on <a href="https://www.freecodecamp.org" target="_blank">freeCodeCamp</a>.</p>
      <p>View the <a href="https://github.com/autumnchris/file-metadata-api" target="_blank">source code</a> for this project.</p>
      <hr>
    </header>
    <main>
      <h3>Project Usage</h3>
      <p>Upload a file in the form below to get the corresponding data for the file name, file type, and file size (in bytes).</p>
      <form action="/api/fileanalyse" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" name="upfile" aria-label="upload file" required>
        </div>
        <div class="button-group">
          <input type="submit" value="Upload">
        </div>
      </form>
    </main>
  </body>
</html>
