<%- include ('./partials/header-content') -%>
<main>
  <article>
    <section class="section-lvl1">
      <h2>Project Usage</h2>
      <p><a href="/api/fileanalyse" target="_self">Upload a file</a> to get the corresponding data for the file name, file type, and file size.</p>
    </section>
  </article>
</main>
